# Default Laravel
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Project
/public/assets
/public/node_modules
/public/rev-manifest.json
/public/mix-manifest.json
/public/npm-manifest.json

# env
.env
.npm
.babel.json
.cache
.composer
.config
.node-gyp
.bash_history
.v8flag*

# OPS
docker_ports.yml
docker-compose.override.yml
docker-compose.prod.yml
ops/config/nginx/prod.conf
backup.yml

# OS
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
*.swp
*~


storage/debugbar/
