# Project
/node_modules
/public/assets
/public/hot
/public/node_modules
/public/storage
/public/rev-manifest.json
/storage/*.key
/vendor
Homestead.json
Homestead.yaml

# env
.env
.npm
.babel.json
.cache
.composer
.config
.node-gyp
.bash_history
.v8flag*

# OPS
docker_ports.yml
docker-compose.override.yml
docker-compose.prod.yml
ops/config/nginx/prod.conf
backup.yml

# OS
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea
*.swp
*~
