# Domain principale
server {
    server_name my-domain;
    listen 443;

    root /srv/http/public;
    index index.html index.htm index.php;

    client_max_body_size 15M;

    access_log off;

    # https redirect when in backend of Traefik
    if ($http_x_forwarded_proto != 'https'){
        return 301 https://$http_host$request_uri;
    }

    location ~ ^/(.*)/$ {
        return 301 $scheme://$http_host/$1;
    }

    location ~ /index.php(.*)$ {
        return 301 $scheme://$http_host$1;
    }

    location / {
        include        fastcgi_params;
        fastcgi_param  SCRIPT_FILENAME $document_root/index.php;
        fastcgi_pass   app:9000;
    }

    ### Maildev - uncomment to enable mydomain.com/maildev (needs to change the command)
    # location ^~ /maildev {
    #     proxy_pass_request_headers on;
    #     proxy_pass http://maildev;
    # }
}

# Domain static
server {
    server_name static.my-domain;
    listen 443;

    # Project public directory
    root /srv/http/public;
    index index.html index.htm index.php;

    # optimization
    include conf.d/incl/base.incl;

    # cache busting
    include conf.d/incl/cache-busting.incl;

    location / {
        add_header Access-Control-Allow-Origin 'https://my-domain';
        try_files $uri =404;
    }
}

# Redirections
server {
    server_name www.my-domain;
    listen 443;
    return 301 https://my-domain$request_uri;
}

# # Domain 404 - utile pour les démos
# server {
#     server_name *.my-domain;
#     listen 80;
#     return 404;
# }

