# Domain principale
server {
    server_name my-domain;
    listen 80;

    root /srv/http/public;
    index index.html index.htm index.php;

    client_max_body_size 15M;

    access_log off;

    location ~ ^/(.*)/$ {
        return 301 $scheme://$http_host/$1;
    }

    location ~ /index.php(.*)$ {
        return 301 $scheme://$http_host$1;
    }

    location / {
        include        fastcgi_params;
        fastcgi_param  SCRIPT_FILENAME $document_root/index.php;
        fastcgi_pass   app:9000;
    }

    # On sert aussi les SVG sur le domaine principale
    location ~* \.svg$ {
        try_files $uri =404;
    }

}

# Domain static
server {
    server_name static.my-domain;
    listen 80;

    # Project public directory
    root /srv/http/public;
    index index.html index.htm index.php;

    location / {
        add_header Access-Control-Allow-Origin 'http://my-domain';
        try_files $uri =404;
    }
}

# # Domain 404 - utile pour les démos
# server {
#     server_name *.my-domain;
#     listen 80;
#     return 404;
# }

# # Redirections
# server {
#     server_name www.my-domain;
#     listen 80;
#     return 301 http://my-domain$request_uri;
# }
