/* ----------------------------------------------------------- */
/* == rwd -> small */
/* ----------------------------------------------------------- */

@media (max-width: @small) {
  /* Cart page
    -------------------------------------------------------------- */

  .cart-table {
    border: none;
  }
  .cart-table thead {
    display: none;
  }

  .cart-table tr {
    position: relative;
    display: block;
    margin-bottom: 1rem;
    border: .1rem solid #cbcbcb;
  }

  .cart-table td {
    display: block;
    width: 100%;
    border: 0px;
  }

  .cart-table .cart-product__item {
    display: flex;
  }

  .cart-product__item {
    position: relative;
  }

  .cart-product__name {
    padding-right: 2rem;
  }

  .cart-amount__imput {
    width: 100%;
  }

  .cart-amount__link {
    font-size: .00em;
  }

  .cart-amount__link::before {
    position: absolute;
    top: .5rem;
    right: .5rem;
    padding: .5rem 1rem;
    background: @color-primary;
    color: @color-light-text;
    content: "x";
    font-size: 1.2rem;
  }

  .cart-promo__btn {
    margin-top: 1rem;
    width: 100%;
  }

  .cart-total {
    padding: .5em 1em;
    border: .1rem solid #cbcbcb;
  }

  .cart-total__subtotal {
    width: 100%;
    line-height: 2em;
  }

  .cart-action {
    display: block;
  }

  .cart-action > :not(:last-child) {
    margin-right: 0;
  }

  .cart-action .btn {
    display: block;
    width: 100%;
  }

  /* Customer page
  -------------------------------------------------------------- */

  .customer-container {
    flex-direction: column-reverse;
  }

  .customer-hidden-s {
    display: none;
  }

  .customer-table thead {
    display: none;
  }

  .customer-table tr {
    display: block;
    padding: 1rem 2rem;
  }

  .customer-table tr:not(:last-of-type) {
    border-bottom: .1rem solid #cbcbcb;
  }

  .customer-table td {
    position: relative;
    display: inline;
    padding: .5rem 0;
    border: 0px;
  }

  td.customer-order__price,
  td.customer-order__status,
  td.customer-order__info,
  .customer-order__infoLink {
    display: block;
    width: 100%;
  }

  .customer-order__infoLink,
  .customer-order__infoLink:link,
  .customer-order__infoLink:visited,
  .customer-order__infoLink:hover,
  .customer-order__infoLink:active {
    padding: 1rem 1.5rem;
    background-color: @color-primary;
    color: @color-light-text;
    text-align: center;
    text-decoration: none;
  }

  /* Catalog page
  -------------------------------------------------------------- */

  .catalog-filter {
    display: none;
  }

  .catalog-classify {
    justify-content: flex-end;
    margin-bottom: 2rem;
  }

  .catalog-classify__label {
    display: none;
  }

  .catalog-classify__mobileFilter {
    margin-right: auto;
  }
}
