/* ----------------------------------------------------------- */
/* == rwd -> small */
/* ----------------------------------------------------------- */

@media (max-width: @small) {
  /* Cart page
    -------------------------------------------------------------- */

  .cart-table thead {
    display: none;
  }

  .cart-table tr {
    display: block;
  }

  .cart-table tr:not(:last-of-type) {
    border-bottom: .1rem solid #cbcbcb;
  }

  .cart-table td {
    position: relative;
    display: block;
    width: 100%;
    border: 0px;
  }

  .cart-table .cart-product__item {
    display: flex;
  }

  .cart-amount__imput {
    width: 100%;
  }
}
